@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
<<<<<<< HEAD
  font-family: "Inter", sans-serif;
=======
>>>>>>> cc63438c104ae4c99d3b59bd00e5e4b352dc93e7
  background-image: url("../images/background-pattern.png"), url("../images/background-pattern-2.png");
  background-position: right top, left bottom;
  background-repeat: no-repeat;
  background-size: 50%, 70%;
}

header.container {
  margin-top: 2rem;
}

.container {
  width: 90%;
  min-width: 800px;
  margin: 1.2rem auto;
}

header,
tr {
  text-align: center;
}

h2::after {
  content: " 2021";
}

.self-bio {
  height: 360px;
}

iframe {
  border: none;
}

.all-bio {
  margin-left: 30%;
  background-color: white;
  border: 1px solid #bfc2c4;
  border-radius: 8px;
  transition-property: margin-left;
  transition: 200ms;
}

.all-bio:hover {
  margin-left: 15%;
}

.container-self-bio {
  background-color: rgb(240, 248, 255, 0.25);
  border: 2px solid #dcdfe2;
  border-radius: 12px;
  height: 320px;
  transition: 200ms;
}

.container-self-bio:hover {
  border-color: #767779;
}

#list-bio-class:hover {
  border-left: 4px solid #a1a2a3;
}
