* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.area-container {
  width: 90%;
  min-width: 800px;
  margin: 1.2rem auto;
}

header,
tr {
  text-align: center;
}

h2::after {
  content: " 2021";
}

.main-bio {
  height: 360px;
}

iframe {
  border: none;
}

.all-bio {
  margin-left: 30%;
  background-color: rgba(240, 255, 255, 0.3);
  border: 2px solid gainsboro;
  border-radius: 8px;
  transition: 200ms;
}

.frame-bio {
  background-color: rgb(245, 251, 255, 0.5);
  border: 2.5px solid #e7e3e3a1;
  border-radius: 12px;
  height: 320px;
  transition: 200ms;
}

.frame-bio:hover {
  border-color: rgba(139, 139, 139, 0.75);
}

.all-bio:hover {
  border-color: rgba(139, 139, 139, 0.55);
}
